@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --body-color: #737373;
    --subsection-color: #525252;
    --alternate-color: #262626;
    --main-font-color: #f5f5f5;
    --special-font-color: #d97706;
    --font-alternate-color: #1d4ed8;
    --svg-filter: invert(46%) sepia(60%) saturate(1647%) hue-rotate(8deg) brightness(94%) contrast(95%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--main-font-color);
    font-family: 'Helvetica', 'Roboto', 'sans-serif';
}

img {
    height: 36px;
    width: 36px;
    padding: 0;
    margin: 0;
}

.header div:nth-of-type(2) img, .books img {
    transition: all 0.5s ease;
}

.books td img {
    height: 26px;
    width: 26px;
}

.books tfoot img {
    height: 32px;
    width: 32px;
}

.header {
    background-color: var(--alternate-color);
    box-shadow: var(--alternate-color) 0px 5px 15px;
    max-height: 80px;
}

.header div:nth-of-type(2) img:hover {
    transform: scale(1.5) rotate(-360deg);
    cursor: pointer;
}

.table-container, .user-info, .footer {
    background-color: var(--subsection-color);
}

.container {
    transition: opacity 0.5s ease;
    background-color: var(--body-color);
    display: grid;
    grid-template-areas: 
        "head head head"
        "table table table"
        "user user user"
        "foot foot foot";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80px 1fr 120px 80px;
    height: 100vh;
}

.header {
    grid-area: head;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1em 1.5em 1em 1.5em;
}

.header div:nth-of-type(1) {
    grid-column: 1 / 3;
    display: flex;
    gap: 1em;
    align-items: center;
    font-weight: bolder;
    letter-spacing: .3em;
}

.header div:nth-of-type(2) {
    grid-column: 3 / 4;
    display: flex;
    gap: 1em;
    align-items: center;
}

.header div:nth-of-type(2) img {
    filter: var(--svg-filter);
}

.table-container {
    grid-area: table;
    grid-column: 1 / -1;
    padding: 2em; 
}

.books {
    width: 100%;
    box-shadow: var(--alternate-color) 0px 7px 29px 0px;
}


caption {
    padding: 1em;
    font-size: 1.5em;
    letter-spacing: .25em;
    font-weight: bolder;
}

tr:first-child, tfoot {
    background-color: var(--alternate-color);
}

thead tr th, tfoot tr td {
    padding: .5em 1.5em .5em 1.5em;
}

th strong {
    font-size: 1.2em;
    font-weight: bolder;
    color: var(--special-font-color);
}

td:last-child img, tfoot img {
    filter: var(--svg-filter);
}

th, td {
    padding: 1em;
    overflow: wrap;
    margin: 0;
    text-align: center;
    border: none;
}



tbody tr:nth-child(odd) {
    background-color: var(--body-color);
}


tfoot tr td {
    text-align: center
}

tbody tr:hover {
    outline: 1px solid var(--special-font-color);
}

.tbody-checkboxes {
    appearance: none;
    background-color: var(--body-color);
    border: 1px solid var(--main-font-color);
    padding: 6px;
    display: inline-block;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.tbody-checkboxes:hover {
    border: 2px solid var(--main-font-color);
}

.tbody-checkboxes:active, .tbody-checkboxes:checked:active {
    background-color: var(--special-font-color);
    color: var(--alternate-color);
}

.tbody-checkboxes:checked:after {
    content: '\2714';
    font-size: 11px;
    border: 1px solid var(--special-font-color);
    position: absolute;
    top: -2px;
    right: -2.2px;
    padding: 0.25px 2.5px 1px 2.5px;
    border-radius: 8px;
    background-color: var(--special-font-color);
    color: var(--alternate-color);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.table-svgs:hover {
    transform: scale(1.5);
    cursor:pointer;
}

.user-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em 1.5em .5em 1.5em;
    gap: .25em;
    background-color: var(--alternate-color);
    border-radius: 1em;
    box-shadow: var(--alternate-color) 0px 7px 29px 0px;

}

.user-info p {
    font-size: 0.8em;
}

.user-info output {
    font-size: 2em;
    font-weight: bolder;
    color: var(--special-font-color);
}

.user-info {
    grid-area: user;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .25em 1.25em 1.5em 2em;
}

.footer {
    max-height: 80px;
    grid-area: foot;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .25em;
    font-weight: bolder;
    font-size: 1.25em;
    padding: .5em;
    background-color: var(--alternate-color);
}

#addBook {
    height: 420px;
    width: 420px;
    padding: 1em;
    border-radius: 8px;
    border: 1px solid var(--special-font-color);
    background-color: var(--body-color);
    box-shadow: var(--alternate-color) 0px 5px 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#addBook h2 {
    position: relative;
    top: -10px;
    right: -120px;
}


#addBook img {
    transition: all .35s ease;
    filter: var(--svg-filter);
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
    position: relative;
    right: -360px;

}

#addBook img:hover {
    transform: scale(1.5) rotate(-360deg);
    cursor: pointer;
}

#addBook ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
    gap: .5em;
}

#addBook ul li {
    list-style-type: none;
    display: inline;
    padding-bottom: .5em;
}

#addBook ul li label {
    width: 140px;
    display: inline-block;
    letter-spacing: .2em;
    font-weight: bolder;
}

#addBook ul li label p {
    box-shadow: var(--alternate-color) 0px 5px 15px;
}

#addBook ul li input, #addBook ul li select {
    color: var(--alternate-color);
    width: 180px;
    appearance: none;
    outline: none;
    border: .5px solid var(--alternate-color);
    border-radius: 4px;
    padding: .25em;
}

#addBook ul li input:active,
#addBook ul li input:focus,
#addBook ul li select:active,
#addBook ul li select:focus {
    border: 2px solid var(--special-font-color);
}

#addBook ul button {
    appearance: none;
    outline: none;
    width: 120px;
    color: black;
    border: 2px solid var(--alternate-color);
    border-radius: 3px;
    font-weight: bolder;
    letter-spacing: .2em;
    padding: .5em 1em;
    cursor: pointer;
    position: relative;
    align-self: center;
    margin-top: 1em 0;
    bottom: -10px;
    transition: all .35s ease;
}

#addBook ul button:hover {
    border: 2px solid var(--special-font-color);
    background-color: var(--alternate-color);
    color: var(--main-font-color);
    transform: scale(1.1);
}

